Repository memcached/memcached, pull requests merged in 2024-03, with the labels that each got.

#1108 Proxy lua GC tuning
  memcached.h
  proto_proxy.c
  proto_proxy.h
  thread.c
Labels: proxy

#1112 fix build on uclibc-ng
  configure.ac
  extstore.c
  thread.c
Labels: merged/fixed for next

#1119 crawler: fix potential memory corruption
  crawler.c
Labels: needs review/testing

#1120 proxy: `stats proxybe` to show bad backends
  proto_proxy.c
  proto_proxy.h
  proto_text.c
  proxy.h
  proxy_network.c
  t/lib/MemcachedTest.pm
  t/proxybestats.lua
  t/proxybestats.t
Labels: merged/fixed for next, proxy
